.goods-receipt-po {
  .input-datepicker {
    border: none;
    border-bottom: 1px solid;
    height: 28px;
    border-radius: 0;
    margin-bottom: 13px;
  }

  .date-picker {
    input {
      width: 50%;
    }
  }
}
