.list-item-group {
    .page-1 {
        border-right: 1px solid #cecece;
    }
    
    .page-actions {
        .btn {
            margin: 5px
        }
        
    }
    
    .has-search {
        margin: 5px;
    }
}