<div class="date-picker">
  <div class="input-group">
    <input type="text"
           class="form-control"
           [readOnly]="inputReadOnly"
           [disabled]="disabled"
           (keydown)="onKeyDown($event)"
           (keyup)="onKeyUp($event)"
           (mousedown)="onMouseDown(matDatepicker)"
           (dateChange)="onDateChange(matDatepicker)"
           maxlength="10"
           autocomplete="off"
           [(ngModel)]="date"
           [matDatepicker]="matDatepicker"
           placeholder="{{'datePicker.placeHolder' | translate}}">
    <mat-datepicker #matDatepicker></mat-datepicker>
    <div class="input-group-append">
      <div class="input-group-text" role="button" (click)="openDatePicker(matDatepicker)">
        <mat-icon>calendar_today</mat-icon>
      </div>
    </div>
  </div>
</div>
