<div class="date-picker">
  <div class="input-group">
    <input type="text" class="form-control"
           [readOnly]="inputReadOnly"
           [(ngModel)]="date"
           (dateChange)="onDateChange($event); matDatepicker.close();"
           (keydown)="onKeyDown($event)"
           (keyup)="onKeyUp($event)"
           (mousedown)="onMouseDown(matDatepicker)"
           (input)="onInput($event)"
           maxlength="10"
           name="date"
           autocomplete="off"
           [matDatepicker]="matDatepicker"
           [placeholder]="placeHolder">
    <mat-datepicker #matDatepicker></mat-datepicker>
    <div class="input-group-append">
      <div class="input-group-text" role="button" (click)="matDatepicker.open()">
        <mat-icon>calendar_today</mat-icon>
      </div>
    </div>
  </div>
</div>
