@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

app-date-picker {
  .input-group {
    flex-grow: 1;

    .input-group-text {
      cursor: pointer;
      padding-left: 0.25rem;
      padding-right: 0.25rem;
    }

    button.mat-icon-button {
      outline: none;
    }

    mat-icon,
    .material-icons {
      font-size: small;
      height: auto;
    }
  }
}
