@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

.date-picker {
  .form-control {
  }

  .input-group-text {
    cursor: pointer;
    height: calc(1.5em + 0.75rem + 0px);
    padding-left: 0.25rem;
    padding-right: 0.25rem;
  }

  button.mat-icon-button {
    outline: none;
  }
}
