<app-select [disabled]="disabled"
            [listDirection]="listDirection">
  <app-select-head (closeList)="closeList($event)"
                   (headClick)="onHeadClick($event)"
                   (openList)="openList($event)"
                   (toggleList)="toggleList($event)"
                   [label]="selectedText"></app-select-head>
  <app-select-body *ngIf="isOpened"
                   [@toggleMenu]="listState"
                   (clickOutside)="onClickOutside($event)"
                   [scaleX]="scaleX">
    <app-select-spinner *ngIf="isLoading; else notLoading"></app-select-spinner>
    <ng-template #notLoading>
      <app-select-list (selectionChange)="unselect($event)"
                       *ngIf="hasSelectedData"
                       [dataSource]="selectedNodes"
                       [key]="key"
                       selected="true"
      ></app-select-list>
      <p-tree *ngIf="hasData; else empty"
              [(selection)]="selection"
              [selectionMode]="mode"
              [value]="treeData"></p-tree>
      <ng-template #empty>
        <app-no-data></app-no-data>
      </ng-template>
    </ng-template>
  </app-select-body>
</app-select>
