<app-select [disabled]="disabled" [listDirection]="listDirection" (clickOutside)="closeList($event)"
            (click)="$event.stopPropagation()">
  <app-select-head (headClick)="toggleList($event)"
                   (openList)="openList($event)"
                   (closeList)="closeList($event)"
                   (toggleList)="toggleList($event)"
                   [label]="selectedText"></app-select-head>
  <app-select-body [@toggleMenu]="listState" [scaleX]="scaleX" *ngIf="isOpened">
    <app-select-spinner *ngIf="isLoading; else notLoading"></app-select-spinner>
    <ng-template #notLoading>
      <app-select-list [dataSource]="selectedNodes"
                       selected="true"
                       [key]="key"
                       (selectionChange)="unselect($event)"
                       *ngIf="selectedNodes.length"></app-select-list>
      <p-tree [selectionMode]="mode"
              [value]="treeData"
              *ngIf="treeData.length; else empty"
              [(selection)]="selection"></p-tree>
      <ng-template #empty>
        <app-no-data></app-no-data>
      </ng-template>
    </ng-template>
  </app-select-body>
</app-select>
