.ui-dialog .ui-dialog-titlebar-icon span {
  display: none !important;
}

.inventory-transfer-detail {
  a {
    text-decoration: underline !important;
    color: #007ee5 !important;
  }

  .back-to-list {
      .material-icons {
        font-size: 15px !important;
      }

  }
  .tab-upload {

  }
}

.input-scan {
  width: 24.5%;
}
