$color-shared: #1c4e80;

.data-table-edit {
    .title-page{
        display: flex;
        div {
            font-size: 21px;
            color: $color-shared;
            text-transform: uppercase;
        }
        mat-icon {
            font-size: 21px;
            padding: 5px;
            cursor: pointer;
        }
    }


    
    
}