<div class="select-component" (clickOutside)="closeList()">
  <div class="select-head d-flex align-items-center align-content-center">
    <input type="text" class="form-control select-search flex-grow-1" (focus)="openList()" [value]="selectedText">
    <a role="button" (click)="clearSelection()" class="clear-button">
      <span class="pi pi-times-circle"></span>
    </a>
  </div>
  <div class="selected-list">
  </div>
  <div class="select-list" [@toggleMenu]="animationState" *ngIf="isOpened">
    <p-tree [value]="options"
            *ngIf="options !== null"
            [selectionMode]="mode"
            [(selection)]="selectedNodes"
            (selectionChange)="onChange($event)"
    ></p-tree>
  </div>
</div>
