@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

.advanced-filter {
  position: relative;
  width: 100%;
  flex-grow: 1;
  flex-basis: 100%;
  display: flex;

  * {
    font-size: small;
  }

  .input-group-prepend {
    cursor: pointer;
  }

  button:focus {
    outline: none;
    outline: 0;
    border-color: #cecece;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  li.dropdown-item {
    cursor: pointer;
  }
}
