<div class="advanced-filter" (clickOutside)="closeDropdown()" (click)="$event.stopPropagation()">
  <div #pane class="filter-pane {{ dropdownDirection }}">
    <div class="input-group d-flex input-group-sm">
      <div class="input-group-prepend">
        <span class="input-group-text">
          {{filterTypeSign}}
        </span>
      </div>
      <input *ngIf="!isDateFilter; else dateFilter"
             type="{{inputType}}"
             class="form-control form-control-sm"
             (keyup)="onKeyUp($event)"
             [(ngModel)]="filterValue"
             placeholder="{{'advancedFilter.placeholder' | translate}}">
      <ng-template #dateFilter>
        <app-date-picker [small]="true" (valueChange)="onApplyFilter($event)" [(value)]="filterValue"></app-date-picker>
      </ng-template>
      <div class="input-group-append">
        <button #toggler class="btn" type="button" (click)="toggleList()">
          <i class="fas fa-filter"></i>
        </button>
      </div>
    </div>
    <div [@toggleMenu]="listState">
      <div class="select-list">
        <ul class="dropdown-menu">
          <li *ngFor="let type of types" class="dropdown-item d-flex align-items-center" (click)="onSelectType(type)">
            <span>{{'advancedFilter.' + type.code | translate}}</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
