<div class="advanced-filter" (clickOutside)="closeDropdown()" (click)="$event.stopPropagation()">
  <div #pane class="filter-pane {{ dropdownDirection }}">
    <div class="ui-inputgroup d-flex p-1">
      <span class="ui-inputgroup-addon">
        {{filterTypeSign}}
      </span>
      <input *ngIf="!isDateFilter" type={{typeInput}} class="form-control" (input)="onApplyFilter($event)"
        placeholder="Search...">
      <p-calendar (onInput)="onApplyFilter($event)" (onSelect)="onApplyFilter($event)" *ngIf="isDateFilter">
      </p-calendar>
      <div class="input-group-append">
        <button #toggler class="btn" type="button" (click)="toggleList()">
          <i class="fas fa-filter"></i>
        </button>
      </div>

    </div>
    <div [@toggleMenu]="listState">
      <div class="select-list">
        <ul class="dropdown-menu">
          <li *ngFor="let item of filterTypes; index as i" class="dropdown-item d-flex align-items-center"
            (click)="onSelectType(item)">
            <span>{{item.label}}</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>