@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

app-advanced-filters {
  width: 100%;
  flex-grow: 1;
  flex-basis: 100%;
  display: flex;

  * {
    font-size: small !important;
  }

  .input-group {
    flex-wrap: unset;

    .form-control {
      border-top-left-radius: unset;
      border-bottom-left-radius: unset;
    }

    .input-group-prepend {
      cursor: pointer;
    }
  }
}

.dropdown-menu.advanced-filter-dropdown {
  font-size: small;

  li.menuitem {
    cursor: pointer;

    .dropdown-item {
    }
  }
}
