<div class="select-list">
  <ul (focus)="ulFocus($event)" class="dropdown-menu" role="menu" tabindex="-1">
    <li (click)="onChange(item, i)" (keydown)="keyDown($event)"
        (keypress)="liPress($event, item, i)"
        *ngFor="let item of dataSource; index as i"
        [tabindex]="-1"
        class="dropdown-item d-flex align-items-center"
        role="menuitem">
      <input *ngIf="selected" checked type="checkbox">
      <span class="label flex-grow-1" role="button">
        {{item[key]}}
      </span>
      <span (click)="copy($event)" *ngIf="selected" [tooltip]="copyTooltip" class="pi pi-copy"
            triggers="click:mouseleave"></span>
    </li>
  </ul>
</div>
