
#background {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.login{
    margin-top: -60px !important;
}
#content{
    position: absolute;
    font-size: 14px !important;
}
.example-form {
    min-width: 120px;
    max-width: 400px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  #logo{
      margin-top : 200px;
      margin-left: 700px; 
  }
  #formInput{
      margin-left: 710px;
  }