<!-- <div class="row login">
  <img id="background"
       src="../../../assets/img/background-login.png"
       alt="paris">
  <div id="content">
    <div class="container-fluid">
        <div class="row mt-5">
            <div class="col-lg-6 col-md-6">

            </div>
            <div class="col-lg-6 col-md-6">
              <img id="logo" src="../../../assets/img/logo jaa.png" alt="" style="width: 125px; height:75px">
              <form id="formInput" class="example-form">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Tên đăng nhập" >
                  </mat-form-field>
                  <mat-form-field class="example-full-width">
                      <input matInput placeholder="Mật khẩu" >
                    </mat-form-field>
                    <mat-checkbox>Ghi nhớ đăng nhập</mat-checkbox>
                    <span class="ml-5">
                        <i class="material-icons" style="width:20px ; height : 20px ;"> lock_open </i>
                        <a class="ml-2" href="#">Quên mật khẩu? </a>
                    </span>
                    <div class="mt-3">
                        <button class="btn btn-primary" style="border-radius: 50px; color: #17A4EB; color: antiquewhite">Đăng nhập</button>
                    </div>
                    <div class="mt-3">
                      <label >Chưa có tài khoản?</label>
                      <a class="ml-2" href="#" style="color: #17A4EB">Đăng ký</a>
                    </div>
                </form>
            </div>
    </div>
    </div>
  </div>
</div> -->



<div class="container-fluid">
  <h1>Medium Grid</h1>
  <p>The following example will result in a 25%/75% split on small devices and a 50%/50% split on medium (and large) devices. On extra small devices, it will automatically stack (100%).</p>
  <p>Resize the browser window to see the effect.</p>
  <div class="row">
    <div class="col-sm-3 col-md-6" style="background-color:yellow;">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<br>
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </div>
    <div class="col-sm-9 col-md-6" style="background-color:pink;">
      Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
    </div>
  </div>
</div>



