<ng-container *ngFor="let item of menu">
  <li class="divider" *ngIf="item.divider; else notDivider">
    <div class="divider-content"></div>
  </li>
  <ng-template #notDivider>
    <li *ngIf="item.children; else notGroup" class="menu-item menu-item-{{level}} d-flex" (click)="toggleChildren(item)">
      <a class="flex-grow-1">
        <i [class]="item.icon" *ngIf="!!item.icon; else notHaveIcon"></i>
        <ng-template #notHaveIcon>
          <div class="icon-placeholder"></div>
        </ng-template>
        <span class="label">
          {{item.label}}
        </span>
      </a>
      <span *ngIf="item.children?.length && pinned" [class]="caretClass"></span>
    </li>
    <ng-template #notGroup>
      <li class="menu-item menu-item-{{level}} d-flex"
          [routerLink]="item.route" routerLinkActive="active" [routerLinkActiveOptions]="{exact: item.exact}">
        <a class="flex-grow-1">
          <i [class]="item.icon" *ngIf="!!item.icon; else notHaveIcon"></i>
          <ng-template #notHaveIcon>
            <div class="icon-placeholder"></div>
          </ng-template>
          <span class="label">
          {{item.label}}
        </span>
        </a>
        <span *ngIf="item.children?.length && pinned" [class]="caretClass"></span>
      </li>
    </ng-template>
    <ng-container *ngIf="item.children?.length && isOpened && pinned" [@toggleMenuSideBar]>
      <app-sidebar-list [root]="item" [level]="level+1" [menu]="item.children" [pinned]="pinned"></app-sidebar-list>
    </ng-container>
  </ng-template>
</ng-container>
