$color-button: #1C4E80;
.row {
    flex-direction: row-reverse
}
.bank-list {
    .content-bank {
        

        .fix-pagination {
            margin-top: 20px; 
            float: right;
        }
        
    }
    
    
}

.list-button {
    float: right;
    button {
        background-color: $color-button;
        color: #ffffff;
    }

    .btn-add {
        margin: 10px;
    }

    // .btn-huy {
    //     background-color: #cecece;
    // }

    // .btn-xoa {
    //     background-color: red;
    // }
}
