<aside class="sidebar shadow-sm">
  <nav class="sidebar-menu pt-2 pb-3">
    <ul class="bookmark-header" [@toggleMenuSideBar]>
      <li class="bookmark-title d-flex align-items-center" (click)="toggleBookmarks()">
        <a class="flex-grow-1">
          <mat-icon class="bookmark-icon">star</mat-icon>
          <span>{{'bookmarks.title' | translate}}</span>
        </a>
        <i *ngIf="!isOpened" [class]="bookmarkCaret"></i>
      </li>
    </ul>
    <div class="sidebar-menu sidebar-bookmarks">
      <ul [@toggleMenuSideBar] [class]="bookmarkMenuState" *ngIf="showBookmarks">
        <li *ngFor="let item of bookmarks">
          <a href="#" routerLink="{{item.route}}" routerLinkActive="active">
            <mat-icon class="bookmark-icon"></mat-icon>
            <span>{{item.name | translate}}</span>
          </a>
          <span class="pi pi-times" (click)="removeBookmark(item)" role="button"></span>
        </li>
      </ul>
    </div>
    <div class="sidebar-menu mt-2" *ngIf="!showBookmarks">
      <ul class="menu-items">
        <app-sidebar-list [menu]="menu" [pinned]="!isOpened" [root]=""></app-sidebar-list>
      </ul>
    </div>
  </nav>
</aside>
