aside.sidebar {
  mat-icon {
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  nav {
    height: 100%;

    .bookmark-icon {
      color: #FCE205;
    }

    ul.bookmark-header {
      li.bookmark-title {
        display: flex;
        align-items: center;
        cursor: pointer;
      }
    }

    .sidebar-menu {
      z-index: 1;

      ul {
        li {
          display: flex;
          flex-direction: row;
        }
      }
    }

    .sidebar-bookmarks {
      ul.show {
        display: block;
      }

      ul.hide {
        display: none;
      }
    }

    .sidebar-bookmarks::before {
      content: "";
      height: 100%;
      opacity: 1;
      width: 3px;
      background: #1c4e80;
      position: absolute;
      left: 35px;
      top: 40px;
      border-radius: 15px;
    }

    .sidebar-bookmarks {
      position: relative;
      transition: all 0.26s ease;
      -webkit-transform: scaleY(0);
      transform: scaleY(0);
      transform-origin: top;
      -webkit-transform-origin: top;
      height: auto;
    }
  }

  ul.menu-items:hover {
    background: unset;
    color: unset;
  }

  ul.menu-items {
    margin-left: 0;

    li:active {
      outline: none;
    }
  }
}
