<aside class="sidebar shadow-sm">
  <!-- <div class="sidebar-search pt-2 pb-1 pl-3 pr-3">
    <input type="search" class="form-control rounded-pill" name="search" placeholder="Search ...">
  </div> -->
  <nav class="sidebar-menu pt-2 pb-3">
    <!-- <div class="menu-header mt-3 mb-2">
        
    </div> -->
    <ul  class="menu-items">
      <li>
          <a href="#" routerLink="" routerLinkActive="active">
            <i style="color: #FCE205" class="fas fa-star"></i>
            <span>Bookmarks</span>
          </a>
          
      </li>
    </ul>
    <app-item-sidebar *ngFor="let item of navItems" [item] = "item" [isShow] = "isShow"></app-item-sidebar>
    <!-- <ul class="menu-items">
      <li >
        <a href="#" routerLink="/home" routerLinkActive="active">
          <i class="fa fa-tv"></i>
          <span>Home</span>
        </a>
      </li>
      <li>
        <a href="#" routerLink="/admin" routerLinkActive="active">
          <i class="fas fa-gem"></i>
          <span>Admin</span>
        </a>
      </li>

    </ul> -->
  </nav>
</aside>