aside.sidebar {
  mat-icon {
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  nav {
    .bookmark-icon {
      color: #FCE205;
    }

    ul.bookmark-header {
      li.bookmark-title {
        display: flex;
        align-items: center;
        cursor: pointer;
      }
    }

    .sidebar-menu {
      z-index: 1;

      ul {
        li {
          display: flex;
          flex-direction: row;
        }
      }
    }

    .sidebar-bookmarks {
      ul.show {
        display: block;
        visibility: visible;

        ::before {
          background: #1c4e80;
          width: 3px;
          position: absolute;
          left: 35px;
          height: 100%;
          opacity: 1;
        }
      }

      ul.hide {
        display: none;
        visibility: hidden;
      }
    }
  }

  ul.menu-items:hover {
    background: unset;
    color: unset;
  }

  ul.menu-items {
    margin-left: 0;

    li:active {
      outline: none;
    }
  }
}
