<aside class="sidebar shadow-sm" [@toggleMenuNavbarLeft] = "animationStateLeft">
  <!-- <div class="sidebar-search pt-2 pb-1 pl-3 pr-3">
    <input type="search" class="form-control rounded-pill" name="search" placeholder="Search ...">
  </div> -->
  <nav class="sidebar-menu pt-2 pb-3">
    <!-- <div class="menu-header mt-3 mb-2">
        
    </div> -->

    <ul style="z-index: 100" class="menu-items" (click)="onClickBookmark()" [@toggleMenuSideBar]>
      <li style="display: flex">
        <a href="#" routerLink="/home" routerLinkActive="active">
          <mat-icon style="color: #FCE205">
            star
          </mat-icon>
          <span>Bookmarks</span>
        </a>
        <span [ngStyle]="{'display': (listBookMark && listBookMark.length > 0) ? 'block': 'none' }"><i class="fas"
            [ngClass]="!isShowBookMark ? 'fa-caret-down' : 'fa-caret-up'"></i></span>
      </li>

    </ul>
    <div class="menu-bookmark-line"> <!-- [@toggleMenu]="animationState"-->
        <!-- <div  [style.height.px] = "30*length"></div> -->
        <ul style="margin-left: 15px" [ngStyle]="{'display' : !isShowBookMark ? 'none' : 'block'}" *ngFor="let item of listBookMark">
          <li style="display: flex">
            <a href="#" routerLink="{{item.route}}" routerLinkActive="active">
              <span>{{item.title}}</span>
            </a>
            <span style="margin-top: 8px" (click)="deleteBookMark(item)">
              <mat-icon style="font-size: 14px">clear</mat-icon>
            </span>
    
          </li>
          
        </ul>
        
    </div>
    
    <div class="menu-under" *ngIf="!isShowBookMark" [@toggleMenuSideBar] style="z-index: 1">
      <app-item-sidebar  [ngStyle]="{'display' : isShowBookMark ? 'none' : 'block'}" *ngFor="let item of navItems"
      [item]="item" [listMenu] = "navItems" (dataOut) = "changeMenu($event)" [isShowChild]="isShowChil"></app-item-sidebar>
    </div>
    
    <!-- <ul class="menu-items">
      <li >
        <a href="#" routerLink="/home" routerLinkActive="active">
          <i class="fa fa-tv"></i>
          <span>Home</span>
        </a>
      </li>
      <li>
        <a href="#" routerLink="/admin" routerLinkActive="active">
          <i class="fas fa-gem"></i>
          <span>Admin</span>
        </a>
      </li>

    </ul> -->
  </nav>
</aside>