.pinned-sidebar {
  height: auto;

  ul.menu-items {
    margin-left: 0 !important;

    li {
      display: none;
      visibility: hidden;
    }

    li.menu-item.menu-item-0 {
      display: flex;
      visibility: visible;

      li.menu-item {
        display: none;
        visibility: hidden;
      }
    }
  }
}
