/* You can add global styles to this file, and also import other style files */
// $fa-font-path:"~font-awesome/fonts";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

$color-button: #1C4E80;

$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

$hamburger-padding-x: 0px !default;
$hamburger-padding-y: 0px !default;
$hamburger-layer-width: 25px !default;
$hamburger-layer-height: 2px !default;
$hamburger-layer-spacing: 5px !default;
$hamburger-layer-color: #9b9ea2 !default;
$hamburger-layer-border-radius: 4px !default;
$hamburger-hover-opacity: 0.7 !default;
$color-title: #1C4E80;

@import '~bootstrap/scss/bootstrap';
// @import '~font-awesome/scss/font-awesome';
// @import '~hamburgers/_sass/hamburgers/hamburgers';
@import '~ngx-toastr/toastr-bs4-alert';

@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/brands';

@import './assets/lightning-admin';

@import "./scss/scrollbars";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.div-form {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  .input-form {
    width: 90%;
  }

  .error-form {
    width: 10%;
  }
}

.full-width {
  width: 100%;
}

*[role="button"] {
  cursor: pointer;
}

.form-control:focus {
  outline: none;
  outline: 0;
  border-color: #cecece;
  -webkit-box-shadow: none;
  box-shadow: none;
}


.title-page {
  display: flex;

  div {
    font-size: 21px;
    color: $color-title;
    text-transform: uppercase;
    font-weight: bold;
  }

  mat-icon {
    font-size: 23px;
    padding: 5px;
    padding-top: 2px;
    cursor: pointer;
  }
}

.th-filter {
  background-color: #ffffff !important;
}

.card-header {
  padding: 2px 3px !important;
}

.page {
  .page-header {
    font-size: 21px;
    color: $color-title;
    text-transform: uppercase;
    font-weight: bold;

    .page-title {
      flex-grow: 1;
      flex-basis: auto;
    }

    .page-actions {
      button {
        margin-right: 0.5rem;
      }

      button:only-child,
      button:last-child {
        margin-right: auto;
      }

      button.btn-add {
        background: $color-button;
        color: $white;
      }

      button.btn-update {
        background: $color-button;
        color: $white;
      }

      button.btn-delete {
        background: $danger;
        color: $white;
      }
    }

    .page-body {
      .page-section {

      }

      .page-section.form {

      }

      .page-section.list {

      }
    }

    .pagination {

    }
  }

  .page-footer {
    
  }

  mat-icon {
    font-size: 23px;
    padding: 2px auto 5px;
    cursor: pointer;
  }

  .page-list {
    margin-top: 0.5rem;
  }

  .pagination {
    margin-top: 0.5rem;
    display: flex;
    justify-content: flex-end;
  }
}
