/* You can add global styles to this file, and also import other style files */
// $fa-font-path:"~font-awesome/fonts";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

$color-button: #007ee5;
$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";

$hamburger-padding-x: 0px !default;
$hamburger-padding-y: 0px !default;
$hamburger-layer-width: 25px !default;
$hamburger-layer-height: 2px !default;
$hamburger-layer-spacing: 5px !default;
$hamburger-layer-color: #9b9ea2 !default;
$hamburger-layer-border-radius: 4px !default;
$hamburger-hover-opacity: 0.7 !default;
$color-title: #007ee5;
$background-color: #ffffff;
$color-danger: #E64C4F;

@import "~bootstrap/scss/bootstrap";
// @import '~font-awesome/scss/font-awesome';
// @import '~hamburgers/_sass/hamburgers/hamburgers';
@import "~ngx-toastr/toastr-bs4-alert";

@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/brands";

@import "./assets/lightning-admin";

@import "./scss/scrollbars";

/* REQUIRED */
@import "~pretty-checkbox/src/scss/variables";
@import "~pretty-checkbox/src/scss/core";

/* OPTIONALS */
@import "~pretty-checkbox/src/scss/elements/default/fill";
@import "~pretty-checkbox/src/scss/elements/default/outline";
@import "~pretty-checkbox/src/scss/elements/default/thick";

@import "~pretty-checkbox/src/scss/elements/font-icon/general";

@import "~pretty-checkbox/src/scss/elements/svg/general";

@import "~pretty-checkbox/src/scss/elements/image/general";

@import "~pretty-checkbox/src/scss/elements/switch/general";
@import "~pretty-checkbox/src/scss/elements/switch/fill";
@import "~pretty-checkbox/src/scss/elements/switch/slim";

@import "~pretty-checkbox/src/scss/extras/toggle";
@import "~pretty-checkbox/src/scss/extras/plain";
@import "~pretty-checkbox/src/scss/extras/round";
@import "~pretty-checkbox/src/scss/extras/curve";
@import "~pretty-checkbox/src/scss/extras/animation";
@import "~pretty-checkbox/src/scss/extras/disabled";
@import "~pretty-checkbox/src/scss/extras/locked";
@import "~pretty-checkbox/src/scss/extras/colors";
@import "~pretty-checkbox/src/scss/extras/print";

@import "~pretty-checkbox/src/scss/states/hover";
@import "~pretty-checkbox/src/scss/states/focus";
@import "~pretty-checkbox/src/scss/states/indeterminate";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.div-form {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  .input-form {
    width: 90%;
  }

  .error-form {
    width: 10%;
  }
}

.full-width {
  width: 100%;
}

*[role="button"] {
  cursor: pointer;
}

.form-control:focus {
  outline: none;
  outline: 0;
  border-color: #cecece;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.title-page {
  display: flex;

  div {
    font-size: 21px;
    color: $color-title;
    text-transform: uppercase;
    font-weight: bold;
  }

  mat-icon {
    font-size: 23px;
    padding: 2px 5px 5px;
    cursor: pointer;
  }
}

.th-filter {
  background-color: $background-color !important;
  padding: 0.25rem 0.5rem !important;
}

.card-header {
  padding: 2px 3px !important;
}

.btn.btn-clear,
.btn.btn-import,
.btn.btn-export,
.btn.btn-save,
.btn.btn-history,
.btn.btn-print,
.btn.btn-cancel {
  background: $background-color;
  color: $black;
  border: 1px solid #c5c5c5;
}

.btn.btn-update {
  background: $color-button;
  color: $white;
}

.btn.btn-reverse {
  background: $color-danger;
  color: $white;
}

.btn.btn-delete
 {
  border: 1px solid $color-danger;
  color: $color-danger;
}

.page {
  .page-header {
    background-color: $background-color !important;
    height: 60px;
    padding: 15px;
  }

  .line {
    border-bottom: 1px solid #707070;
    opacity: 0.2;
  }

  .page-section-form-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .form-title {
      color: $color-title;
    }
    padding-bottom: 15px;
    padding-left: 3px;
    padding-right: 3px;
  }

  .page-section-form-body {
    padding-top: 15px;
    padding-left: 3px;
    padding-right: 3px;
  }
  .page-header,
  .page-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    // margin-bottom: 20px;

    .page-title {
      font-size: 20px;
      color: $color-title;
      text-transform: uppercase;
      font-weight: bold;
      flex-grow: 1;
      flex-basis: auto;
    }

    .page-actions {
      .btn {
        margin-right: 0.5rem;
      }

      .btn:only-child,
      .btn:last-child {
        margin-right: auto;
      }

      .btn-import {
        margin-right: 0.5rem !important;
      }
    }
  }

  .page-body {
    
    .page-section {
      background-color: $background-color;
      margin: 15px 0px 15px 0px;
      padding: 15px;
    }

    .page-section.form {
    }

    .page-section.list {
    }
  }

  mat-icon {
    font-size: 23px;
    padding: 2px auto 5px;
    cursor: pointer;
  }

  .pagination {
    margin-top: 0.5rem;
    display: flex;
    justify-content: flex-end;
  }
}


.page-actions-delete {
  float: left;
}


a.disabled {
  pointer-events: none;
  cursor: default;
}

input[type="text"].disabled {
  background: #dddddd;
  pointer-events: none;
  cursor: default;
}

.ui-table {
  .ui-table-tbody {
    > tr.ui-state-highlight {
      background: #1c4e80 !important;
      color: #ffffff;
    }
  }
}

.btn.btn-add,
.btn.btn-send,
.btn.btn-save-dialog {
  border: $color-button solid 1px;
  background-color: $color-button;
  color: #ffffff;
}

.btn.btn-rejected {
  background: #FDB32B;
  color: #ffffff;
}

.btn.btn-approve,.btn.btn-receive {
  background: #07D79B;
  color: #ffffff;
}

.btn-label {
  position: relative;
  display: inline-block;
  left: -12px;
  padding: 5px 12px;
  background: rgba(0, 0, 0, 0.08);
  border-radius: 0px 0 0 5px;
  width: 28px;
  height: 28px;
  i {
    font-size: 15px;
    margin-left: -5px;
    line-height: 1;
  }

  img {
    margin-left: -9px;
    margin-top: -9px;
  }
}
.btn-labeled {
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
}
// .btn {
//   margin-bottom: 10px;
// }

.button-label {
  margin-top: 3px;
  margin-left: -3px;
}

.save-book-mark {
  color: #3d464d;
}

.not-save-book-mark {
  color: #fce205;
}

.view-detail {
  color: #007ee5;
}

.edit {
  color: #fdb32b;
}

.delete {
  color: #EE534D;
}

.n-p-r {
  padding-right: 0 !important;
}

.n-p-l {
  padding-left: 0 !important;
}

.n-p-t {
  padding-top: 0 !important;
}

.n-p-b {
  padding-bottom: 0 !important;
}


.form-upload-file {
  .upload-btn-wrapper input[type="file"] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }

  .results {
    padding: 16px;
    .results-item {
      .results-item-name {
        padding: 6px;
        background-color: #EAEAEA;
        font-size: 12px;
        border-radius: 5px;
      }
      .material-icons {
        font-size: 12px;
      }
      .icon-upload {
        .material-icons {
          -ms-transform: rotate(-20deg); /* IE 9 */
          -webkit-transform: rotate(-20deg); /* Safari 3-8 */
          transform: rotate(-20deg);
        }
      }
      .close-attach {
        color: #ee534d;
        cursor: pointer;
        margin-top: 6px;
      }
    }
  }
}


.dialog-header {
  color: $color-button;
}


.open-status {
  padding: 6px;
  border-radius: 5px;
  color: #3D464D;
  border: 1px solid #CDCDCD;
}

.pending-status {
  padding: 6px;
  border-radius: 5px;
  color: #745AEF;
  border: 1px solid #745AEF;
}

.pending-receive-status {
  padding: 6px;
  border-radius: 5px;
  color: #07D79B;
  border: 1px solid #07D79B;
}

.done-status {
  padding: 6px;
  border-radius: 5px;
  color: #E89922;
  border: 1px solid #E89922;
}

