/* You can add global styles to this file, and also import other style files */
// $fa-font-path:"~font-awesome/fonts";

@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~pretty-checkbox/dist/pretty-checkbox.min.css";
@import "~pretty-checkbox/src/scss/variables";
@import "~pretty-checkbox/src/scss/core";

$color-button: #1c4e80;

$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";

$hamburger-padding-x: 0px !default;
$hamburger-padding-y: 0px !default;
$hamburger-layer-width: 25px !default;
$hamburger-layer-height: 2px !default;
$hamburger-layer-spacing: 5px !default;
$hamburger-layer-color: #9b9ea2 !default;
$hamburger-layer-border-radius: 4px !default;
$hamburger-hover-opacity: 0.7 !default;
$color-title: #1c4e80;

@import "~bootstrap/scss/bootstrap";
// @import '~font-awesome/scss/font-awesome';
// @import '~hamburgers/_sass/hamburgers/hamburgers';
@import "~ngx-toastr/toastr-bs4-alert";

@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/brands";

@import "./assets/lightning-admin";

@import "./scss/scrollbars";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.div-form {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  .input-form {
    width: 90%;
  }
  .error-form {
    width: 10%;
  }
}
.full-width {
  width: 100%;
}

*[role="button"] {
  cursor: pointer;
}

.form-control:focus {
  outline: none;
  outline: 0;
  border-color: #cecece;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.title-page {
  display: flex;

  div {
    font-size: 21px;
    color: $color-title;
    text-transform: uppercase;
    font-weight: bold;
  }

  mat-icon {
    font-size: 23px;
    padding: 5px;
    padding-top: 2px;
    cursor: pointer;
  }
}

.th-filter {
  background-color: #ffffff !important;
}

.card-header {
  padding: 2px 3px !important;
}

.btn.btn-add,
.btn.btn-import,
.btn.btn-export,
.btn.btn-save {
  background: $color-button;
  color: $white;
}

.btn.btn-update {
  background: $color-button;
  color: $white;
}

.btn.btn-delete {
  background: $danger;
  color: $white;
}

.btn.btn-cancel {
  border: 1px solid $secondary;
}

.page {
  .page-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .page-title {
      font-size: 21px;
      color: $color-title;
      text-transform: uppercase;
      font-weight: bold;
      flex-grow: 1;
      flex-basis: auto;
    }

    .page-actions {
      .btn {
        margin-right: 0.5rem;
      }

      .btn:only-child,
      .btn:last-child {
        margin-right: auto;
      }

      .btn-import {
        margin-right: 0.5rem !important;
      }
    }
  }

  .page-footer {
  }
  .page-body {
    margin-top: 20px;
    .page-section {
    }

    .page-section.form {
    }

    .page-section.list {
    }
    .pagination {
    }
  }

  mat-icon {
    font-size: 23px;
    padding: 2px auto 5px;
    cursor: pointer;
  }

  .pagination {
    margin-top: 0.5rem;
    display: flex;
    justify-content: flex-end;
  }

  .sob {
    padding: 5px;
  }
}

.cdk-overlay-container {
  position: fixed !important;
  z-index: 1010 !important; /* set value you need */
}
