<div [class]="rootClass" (clickOutside)="closeList()">
  <div class="select-head d-flex align-items-center align-content-center">
    <input type="text" class="form-control select-search flex-grow-1" (focus)="openList()" [value]="selectedText" (keydown)="onKeyDown($event)">
    <span class="pi pi-times-circle" (click)="clearSelection()" *ngIf="displayClearButton"></span>
    <span [class]="toggleState" (click)="toggleList()"></span>
  </div>
  <div class="select-list" [@toggleMenu]="animationState" *ngIf="isOpened">
    <div *ngIf="isLoading; else notLoading" class="d-flex justify-content-center py-4">
      <mat-spinner></mat-spinner>
    </div>
    <ng-template #notLoading>
      <p-tree [value]="options"
              #tree
              [selectionMode]="mode"
              [(selection)]="selectedNodes"
              (selectionChange)="onChange($event)"
              (onNodeSelect)="onSelect()"
      ></p-tree>
    </ng-template>
  </div>
</div>
