<div class="select-component {{mode}}" (clickOutside)="closeList()">
  <div class="select-head d-flex align-items-center align-content-center">
    <input type="text" class="form-control select-search flex-grow-1" (focus)="openList()" [value]="selectedText">
    <a role="button" (click)="clearSelection()" class="clear-button">
      <span class="pi pi-times-circle"></span>
    </a>
  </div>
  <div class="selected-list">
  </div>
  <div class="select-list" [@toggleMenu]="animationState" *ngIf="isOpened">
    <div *ngIf="isLoading; else notLoading" class="d-flex justify-content-center py-4">
      <mat-spinner></mat-spinner>
    </div>
    <ng-template #notLoading>
      <p-tree [value]="options"
              [selectionMode]="mode"
              [(selection)]="selectedNodes"
              (selectionChange)="onChange($event)"
      ></p-tree>
    </ng-template>
  </div>
</div>
