
<div class="container-fluid">
        <img id="background" src="../../../assets/img/background-login.png" alt="paris">
        <div class="row ">
          <div class="col-sm-7 col-md-7 ">
          </div>
          <div class="col-sm-4 col-md-4 ">
            <!-- <img id="logo" src="../../../assets/img/logo jaa.png" alt="" style="width: 150px; height:90px"> -->
            <h1>AHihi</h1>
            <form id="formInput" class="example-form">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Tên đăng nhập">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                    <input matInput placeholder="email">
                  </mat-form-field>
              <mat-form-field class="example-full-width">
                <input type="password" matInput placeholder="Mật khẩu">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                    <input type="password" matInput placeholder="Mật khẩu">
                  </mat-form-field>   
              
              <div class="mt-3">
                <button class="btn btn-primary" style="border-radius: 50px; color: #17A4EB; color: antiquewhite">Đăng ký</button>
              </div>
              <div class="mt-3">
                <label>Đã có tài khoản?</label>
                <a class="ml-2" href="#" style="color: #17A4EB">Đăng nhập</a>
              </div>
            </form>
          </div>
          <div class="col-sm-1 col-md-1 ">
            </div>
        </div>
      </div>