<app-select [listDirection]="listDirection" (clickOutside)="closeList($event)" (click)="$event.stopPropagation()">
  <app-select-head [label]="selectedText"
                   (openList)="openList($event)"
                   (closeList)="closeList($event)"
                   (toggleList)="toggleList($event)"
                   (headClick)="toggleList($event)"></app-select-head>
  <app-select-body [@toggleMenu]="listState">
    <app-select-spinner *ngIf="isLoading; else notLoading"></app-select-spinner>
    <ng-template #notLoading>
      <app-select-list [dataSource]="selectedItems"
                       [key]="key"
                       selected="true"
                       (selectionChange)="unselect($event)"></app-select-list>
      <app-select-list [dataSource]="list"
                       [key]="key"
                       (selectionChange)="select($event)"></app-select-list>
    </ng-template>
  </app-select-body>
</app-select>
