<app-select [disabled]="disabled" [listDirection]="listDirection" [id]="id">
  <app-select-head (closeList)="closeList($event)"
                   (headClick)="onHeadClick($event)"
                   (openList)="openList($event)"
                   (toggleList)="toggleList($event)"
                   (clear)="onClear()"
                   [label]="initialValue"></app-select-head>
  <app-select-body *ngIf="isOpened" [@toggleMenu]="listState" (clickOutside)="onClickOutside($event)">
    <app-select-search (search)="search.emit($event)"></app-select-search>
    <app-select-spinner *ngIf="isLoading; else notLoading"></app-select-spinner>
    <ng-template #notLoading>
      <ng-template [ngIf]="hasSelected">
        <div class="py-2 pl-4 d-flex align-items-center border-bottom">
        <span class="h4 font-weight-bold">
          {{'select.selectedList' | translate}}
        </span>
        </div>
        <app-select-list (selectionChange)="unselect($event)"
                         [dataSource]="selectedList"
                         [key]="key"
                         selected="true"></app-select-list>
      </ng-template>
      <div class="py-2 pl-4 d-flex align-items-center border-bottom">
        <span class="h4 font-weight-bold">
          {{'select.availableList' | translate}}
        </span>
      </div>
      <app-select-list (selectionChange)="select($event)"
                       *ngIf="hasData; else empty"
                       [dataSource]="list"
                       [key]="key"></app-select-list>
      <ng-template #empty>
        <app-no-data></app-no-data>
      </ng-template>
    </ng-template>
  </app-select-body>
</app-select>
