
.list-item-of-legal-entity {
    .page-1 {
        border-right: 1px solid #cecece;
        .table1 {
            margin-top: 45px !important;
        }
    }
    
    .page-actions {
        .btn {
            margin: 5px
        }
        
    }
    
    .has-search {
        margin: 5px;
    }
}